{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

<title>Bakery House</title>
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li>
                    <a href="#">Parent</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">First</a></li>
                            <li class="uk-nav-header">Header</li>
                            <li><a href="#">First</a></li>
                            <li><a href="#">Second</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Third</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Item</a></li>
            </ul>
            <div class="uk-margin">
                <form class="uk-search uk-search-default">
                    <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                    <input class="uk-search-input" type="search" placeholder="Search...">
                </form>
            </div>
            
        </div>
        <div class="uk-navbar-right">
            
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">Parent</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">First</a></li>
                            <li class="uk-nav-header">Header</li>
                            <li><a href="#">First</a></li>
                            <li><a href="#">Second</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Third</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" data-src="{% static "images/bg1.jpg" %}" uk-img>
            <p class="uk-h4 uk-text-success uk-text-bold uk-text-large" style="font-family: 'Dosis', sans-serif;">Bakery House</p>
        </div>
    </div>
    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">
            <h1 class="uk-heading-line uk-text-center"><span>Heading Line</span></h1>
            <p class="uk-dropcap">Dorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
    <div class="uk-section uk-section-primary">
        <div class="uk-container">
            <h1 class="uk-heading-line uk-text-center"><span>Recommended Menu</span></h1>
            <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-text-center" uk-grid>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-animation-scale-up">
                        <div class="uk-card-media-top">
                            <img src="{% static "images/menu1.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div class="uk-card uk-card-default uk-animation-scale-down">
                        <div class="uk-card-media-top">
                            <img src="{% static "images/menu2.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div class="uk-animation-toggle" tabindex="0">
                    <div  class="uk-card uk-card-default uk-animation-shake">
                        <div class="uk-card-media-top">
                            <img src="{% static "images/menu3.jpg" %}" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Media Top</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-top">
                                <img src="{% static "images/menu4.jpg" %}" alt="">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">Media Top</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <html>
    <body>
        <p>{{ dechy }}</p>
        {% if user.is_anonymous %}
            <a href="{% url 'social:begin' 'tu' %}">Log in</a>
        {% else %}
            <a href="{% url 'list_book' %}">Go to List Book page</a><br>
            <a href="{% url 'logoutdech' %}">Log out</a>
        {% endif %}
    </body>
</html>
</body>

</html>