{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

<title>Bakery House</title>
</head>

<body>
    <p class="uk-h4 uk-text-success uk-text-bold uk-text-large" style="font-family: 'Dosis', sans-serif;">
        {{ dechy }}
    </p>
        {% if user.is_anonymous %}
            <nav class="uk-navbar-container" uk-navbar>
                <div class="uk-navbar-right"> 
                    <ul class="uk-navbar-nav">
                        <li>
                            <a href="{% url 'social:begin' 'tu' %}">Log in</a>
                        </li>
                    </ul>
                </div>
            </nav>
        {% else %}
            <div class="uk-section uk-section-primary uk-preserve-color">
                <div class="uk-container">
                    <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
                            <div>
                                <div class="uk-card uk-card-default uk-card-body">
                                    <a href="{% url 'list_book' %}">Go to List Book page</a><br>
                                </div>
                            </div>
                            <div>
                                <div class="uk-card uk-card-default uk-card-body">
                                    <a href="{% url 'logoutdech' %}">Log out</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        {% endif %}
</body>
</html>