{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">

    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

<title>Bakery House</title>
</head>

<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Active</a></li>
                <li>
                    <a href="#">Parent</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"><a href="#">Active</a></li>
                            <li><a href="#">First</a></li>
                            <li class="uk-nav-header">Header</li>
                            <li><a href="#">First</a></li>
                            <li><a href="#">Second</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#">Third</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Item</a></li>
            </ul>
            <div class="uk-margin">
                <form class="uk-search uk-search-default">
                    <a href="" class="uk-search-icon-flip" uk-search-icon></a>
                    <input class="uk-search-input" type="search" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>
    <div>
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" data-src="{% static "images/bg1.jpg" %}" uk-img>
            <p class="uk-h4 uk-text-success uk-text-bold uk-text-large" style="font-family: 'Dosis', sans-serif;">
                {{ dechy }}
            </p>
            {% if user.is_anonymous %}
                <nav>
                    <div class="uk-navbar-right"> 
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="{% url 'social:begin' 'tu' %}">Log in</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            {% else %}
                <a href="{% url 'list_book' %}">Go to List Book page</a><br>
                <a href="{% url 'logoutdech' %}">Log out</a>
            {% endif %}
        </div>
    </div>
    <html>
</html>
</body>

</html>